{% extends "layout.html" %}
{% block pageTitle %}
  You cannot use this service
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase-banner.html" %}
    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="confirm-company" method="post">
            <h1 class="govuk-heading-xl">
              You cannot use this service

            </h1>

            <h2 class="govuk-heading-s">You may not be able to use this service because:</h2>

            <ul class="govuk-list govuk-list--bullet">
              <li>the company is dissolved</li>

              <li>the company doesn't have any active officers</li>

              <li>the company in not based in the UK</li>

              <li>the company is a Limited Partnership</li>

              <li>the company is no longer active (insolvant)</li>

              <li>the company only has corporate officers (company owns the company, rather than a person)</li>

              <p></ul>

            </form>

          </div>
          <!--govuk-grid-row-->
        </div>
        <!--govuk-grid-column-two-thirds-->

      </main>
    </div>
    <!---govuk-width-container-->

  {% endblock %}