{% extends "layout.html" %}
{% block pageTitle %}
  Confirm this is the correct officer
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase-banner.html" %}
    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper" id="main-content" role="main">
      <form action="confirmation" method="GET">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Confirm this is the correct officer</h1>

            {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: "HARRIS, Richard John"
      }
    },
    {
      key: {
        text: "Role"
      },
      value: {
        text: "Director"
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: "December 1952"
      }
    },
    {
      key: {
        text: "Appointed on"
      },
      value: {
        text: "13 May 2015
"
      }
    },
    {
      key: {
        text: "Nationality"
      },
      value: {
        text: 'British'
      }
    },
    {
      key: {
        text: "Country of residence"
      },
      value: {
        text: 'United Kingdom'
      }
    },
    {
      key: {
        text: "Occupation"
      },
      value: {
        text: 'Chartered Accountant'
      }
    }
  ]
}) }}

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes govuk-checkboxes--small">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                      I confirm that I want the authentication code sent to the most recent home address given to Companies House for Richard John Harris
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            {{ govukButton({
                text: "Confirm and submit"
              }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}
