{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Request submitted</h1>
        <div class="govuk-panel__body">We will post an authentication code to the officers’ usual residential address.</div>
      </div>
      <p class="govuk-body">
        <h2 class="govuk-heading-m">How long it takes</h2>

        <p class="govuk-body">Please allow 5 working days for the letter to arrive.

        </p>

        {{ govukWarningText({
  text: "Due to the impact of coronavirus (COVID-19) it may take longer for mail to arrive.",
  iconFallbackText: "Warning"
}) }}

        <h2 class="govuk-heading-m">What do you want to do next?</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/applying-as">print this page for your records</a>
          </li>
          <li>
            <a href="/sign-out">sign out</a>
          </li>
        </ul>

        <p class="govuk-body govuk-!-margin-top-7">
          This is a new service. Help us improve it by
          <a href="feedback">
            <span class="govuk-visually-hidden">This is a new service. Help us improve it by
            </span>completing our quick survey</a>.
        </p>

      </div>
    </div>

  {% endblock %}