{% extends "layout.html" %}
{% block pageTitle %}
  Select an officer
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase-banner.html" %}
    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="confirm-officer" method="post">

            {{ govukRadios({
              idPrefix: "list-of-officers",
              name: "list-of-officers",
              fieldset: {
                legend: {
                  text: "Which officer needs the authentication code?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
  hint: {
    text: "Only select the officer if you know that Companies House has an up to date  residential address for them."
  },
              items: [
                {
                  value: "davis",
                  text: "DAVIS, Kathryn Ruth"
                },
                {
                  value: "dhut",
                  text: "DHUT, Rita"
                },
                {
                  value: "ewing",
                  text: "EWING, Hilary Ann, Dr"
                },
                {
                  value: "gordon",
                  text: "GORDON, Maria Vladimirovna"
                },
                {
                  value: "harris",
                  text: "HARRIS, Richard John"
                },
                {
                  value: "hockaday",
                  text: "HOCKADAY, Anne Mary"
                },
                {
                  value: "humphries",
                  text: "HUMPHRIES, Juliet Claire"
                },
                {
                  value: "montgomery",
                  text: "MONTGOMERY, Fraser Stewarty"
                },
                {
                  value: "oliver",
                  text: "OLIVER, Peter Geoffrey"
                },
                {
                  value: "ross",
                  text: "ROSS, Stuart"
                },
                {
                  value: "simons",
                  text: "SIMONS, Judith Ann, Professory"
                },
                {
                  value: "tuck",
                  text: "TUCK, Anne Victoria"
                }
              ]
            }) }}

            {{ govukButton({
        text: "Continue"
      }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}