{% extends "layout.html" %}
{% block pageTitle %}
  Select an officer
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase-banner.html" %}
    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {% include 'includes/error.html' %}
          <form action="confirm-officer" method="post">

            {{ govukRadios({
              idPrefix: "list-of-officers",
              name: "list-of-officers",
              fieldset: {
                legend: {
                  text: "Which officer needs the authentication code?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                },
                attributes : {
                  'data-required': "data-required",
                  'data-error': "Select the officer who needs the authentication code"
                  }
              },
  hint: {
    text: "You should only select an officer if you know they have given us their most recent home address."
  },

              items: [
                {
                  value: "davis",
                  text: "DAVIS, Kathryn Ruth"
                },
                {
                  value: "dhut",
                  text: "DHUT, Rita"
                },
                {
                  value: "ewing",
                  text: "EWING, Hilary Ann, Dr"
                },
                {
                  value: "harris",
                  text: "HARRIS, Richard John"
                }
              ]
            }) }}

            {{ govukButton({
        text: "Continue"
      }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}