{% extends "layout.html" %}

{% block pageTitle %}
  Request an authentication code to be sent to a home address
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Shortcuts</h2>

      <h2 class="govuk-heading-m">Happy path</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/service/start">Start</a>
        </li>
        <li>
          <a href="/service/sign-in">Sign in</a>
        </li>
        <li>
          <a href="/service/company-number">Company number</a>
        </li>
        <li>
          <a href="/service/confirm-company">Confirm company</a>
        </li>
        <li>
          <a href="/service/view-officer">View officers</a>
        </li>
        <li>
          <a href="/service/confirm-officer">Confirm officer</a>
        </li>
        <li>
          <a href="/service/confirmation">Confirmation</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Unhappy path</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/service/alt-user-journey/start">Start</a>
        </li>
        <li>
          <a href="/service/alt-user-journey/sign-in">Sign in</a>
        </li>
        <li>
          <a href="/service/alt-user-journey/company-number">Company number</a>
        </li>
        <li>
          <a href="/service/alt-user-journey/confirm-company">Confirm company</a>
        </li>
        <li>
          <a href="/service/alt-user-journey/cannot-use-this-service">You cannot use this service</a>
        </li>
      </ul>

      <p>
        <a href="/accessibility-statement">Accessibility statement</a>
      </p>
    </div>
  </div>

{% endblock %}